---
const { headings } = Astro.props;
---

<div
	class="sticky top-32 mx-4 hidden h-screen w-1/4 overflow-auto text-sm sm:block">
	{
		headings.map((section: any) => (
			<a
				href={`#${section.slug}`}
				class="block cursor-pointer rounded-xl px-2 py-1 no-underline hover:bg-zinc-800"
				style={{ marginLeft: `${(section.depth - 2) * 20}px` }}>
				{section.text} <br />
			</a>
		))
	}
</div>
